<select class="bbcode-badge" name="badge" onchange="bbfontstyle('[badge]' + this.options[this.selectedIndex].value + '', '[/badge]');this.selectedIndex = 0;" title="{L_BBCODE_BADGE_HELP}" style="height: 21px;">
		<option value="#" selected="selected" style="display: none;">{L_BADGE_BBCODES}</option>
		<option value="{L_LICENSE}">{L_LICENSE_TITLE}</option>
		<option value="{L_VERSION}">{L_VERSION_TITLE}</option>
		<option value="{L_VERSION_100}">{L_VERSION_100_TITLE}</option>
		<option value="{L_CHANGELOG}">{L_CHANGELOG_TITLE}</option>
		<option value="{L_CUSTOM}">{L_CUSTOM_TITLE}</option>
</select>
